.colwrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.formwrapper{
    margin:auto;
    padding:20px;
    border: 1px solid black;
    border-radius: 10px;
    width:80%;
    height:80%;
}
.icon{
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer{
    display:flex;
    justify-content:space-between
}
.champs{
    width:auto;
    height:50vh
}
.champwrapper{ 
    height:80vh;
    position:relative;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.champbody{
    font-family: "Dancing Script", cursive;
    color: palevioletred;
    font-size:x-large;
}