$card-padding:10px;
@import '../var';
@import '../mixin';

.heading {
  text-align: center;
  color: palevioletred;
  font-family:$font_family;
}
.headerwrap {
  display: flex;
  width:auto;
  height: 70vh;
  justify-content:center;
}


@each $oddnumber in $oddnumbers {
  .cardimage-#{$oddnumber}{
    @include card-animation;
    animation:  cardmoveodd 4s ease-out forwards;
  }
}

@each $evennumber in $evennumbers{
  .cardimage-#{$evennumber}{
    @include card-animation;
    animation:  cardmoveeven 4s ease-out forwards;
  }
}

@keyframes cardmoveodd {
  from {transform: translate(0,-350px)}
  /* to {transform: translate3d(50%,10px,10px)} */
}  
@keyframes cardmoveeven {
  from {transform: translate(0,350px)}
  /* to {transform: translate3d(50%,10px,10px)} */
} 

@each $number in $numbers{
  .cardimage-#{$number}:hover{
    width:10vw;
    height:50vh;
    opacity:1;
  }
}
.cardwrap {
  border:none;
  margin:10px
}
