.heading {
  font-size: 2.5em;
  text-align: center;
  color: palevioletred;
  font-family: "Dancing Script", cursive;
}
.headerwrap {
  display: flex;
  width:auto;
  height: 70vh;
  justify-content:center;
}
.cardimage {
  width: 6vw;
  height: 50vh;
  border: 1px solid rgb(128, 128, 128) !important;
  position:relative;
  transition: all 1s ease-out;
  animation:  cardmove 1s forwards;
}

@keyframes cardmove {
  from {top:0px;}
  to {top: 30px;}
}

.cardimage:hover{
  width:12vw;
  height:60vh;
  opacity:1;
}
.cardwrap {
  border:none;
  margin:10px
}
