@import "../../mixin";
@import "../../var";

.role-container{
    @include GridContainer
}
.header{
    @include GridHeader
}

.add-btn {
    width: 15%;
    margin: 2% 0;
}
.edit-btn{
    width: 90%;
    margin-bottom: 4%;
}
.delete-btn{
    width: 90%;
}