@import "../../mixin";

.profile-container{
  @include GridContainer
}
.header{
  @include GridHeader
}
  .cardWrapper {
    // width: 60%;
    background-image:url("https://images.pexels.com/photos/3779814/pexels-photo-3779814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    // min-width: 50vw;
    width:300px;
    height:400px;
    .imagealign {
      @include vhalign;
      .cardImage {
        width: 30%;
        height: 25vh;
        border-radius: 50%;
      }
    }
    .body {
      @include valign;
      justify-content: space-around;
      padding:2%;
      .bodyicons {
        flex: 2;
        display: flex;
        justify-content: center;
      }
      .bodyname {
        flex: 4;
        display: flex;
        justify-content: flex-start;
      }
    }
  }

