@import "../../mixin";

.profile-container{
  @include GridContainer
}
.header{
  @include GridHeader;
}
  .profile-cardWrapper {
    position: relative;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.815);
    @include valign;
    border-radius: 5%;
    width: 50%;
    height: 90%;
    background-color: #231E39;
    color: white;
    .imagealign {
      @include vhalign;
      border-bottom: rgb(236, 227, 227) solid 1px;
      .cardImage {
        width: 31%;
        height: 24vh;
        border-radius: 50%;
        border: 5px solid white;
      }
    }
    .body {
      @include vhalign;
      justify-content: space-around;
      padding:3%;
      .bodyicons {
        flex: 2;
        display: flex;
        justify-content: center;
      }
      .bodyname {
        flex: 4;
        display: flex;
        justify-content: flex-start;
      }
    }
    .profile-card-footer{
      border-top: rgb(236, 227, 227) solid 1px;
    }
  }
  .profile-modal-header {
    @include modal-header;
  }

  // .profile-modal-wrapper{
  //   background-color: black;
  // }
