@import "../../mixin";


  .cardWrapper {
    width: 35vw;
    .imagealign {
      @include vhalign;
      .cardImage {
        width: 40%;
        height: 25vh;
        border-radius: 50%;
      }
    }
    .body {
      @include valign;
      justify-content: space-around;
      padding:2%;
      .bodyicons {
        flex: 2;
        display: flex;
        justify-content: center;
      }
      .bodyname {
        flex: 4;
        display: flex;
        justify-content: flex-start;
      }
    }
  }

