@import "../../mixin";

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.accordion-header,.accordion-header:hover{
    color:black;
    background-color: white;
    @include valign;
    justify-content: space-around;
}
// .maincontent{
//     --bs-gutter-x:0;
//     }