@import "../../mixin";

.btn-check:focus+.btn-primary, .btn-primary:focus, .btn-primary,.btn-primary:hover{
    box-shadow: none;
    border-color: gray;
    background-color: white;
    color: black;
}

.accordion-header,.accordion-header:hover{
    color:black;
    background-color: white;
    @include valign;
    justify-content: space-around;
}