@import "../mixin";

.main-container {
    @include GridContainer;
}
.header {
    @include GridHeader;
}

.slide {
    @include sidebar-slide;
}
.side-nav {
    --bs-gutter-x: 0;
}

@media (max-width: 768px) {
    .slide {
        display: none;
    }
    .responsive-nav {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .slide {
        display: inline;
    }
    .responsive-nav {
        display: none;
    }
}
