.navigation{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:80px;
    background-color: transparent;
    color:darkslategrey;
    font-family:'Lobster', cursive;
    }
.brand-style {
    color: rgb(226, 96, 96);
    letter-spacing: 3px;
}

.DrawIcon{
    transform: matrix(1.2, 0, 0, 1.2, 0, 0) !important;
}
.DrawIcon:hover {
    transform: translate3d(0px, 0px, 0px) scale(1.2, 1.2) !important;
}
