@mixin vhalign {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin valign {
    display: flex;
    align-items: center;
}

@mixin cardbody {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    .bodyicons {
        flex: 2;
        display: flex;
        justify-content: center;
    }
    .bodyname {
        flex: 4;
        display: flex;
        justify-content: flex-start;
    }
}

@mixin GridContainer {
    padding: 0;
    margin: 0;
    // width:100vw;
}

@mixin GridHeader {
    @include valign;
    position: fixed;
    width: inherit;
    z-index: 2;
    // justify-content: space-between;
    // padding-left:2% ;
    background-color: #f2f2f2;
    height: 70px;
    @media (max-width: 768px) {
      display: none;
    }
}

@mixin modal-header {
    background: rgb(214, 105, 105);
    background: linear-gradient(
        90deg,
        rgba(214, 105, 105, 1) 23%,
        rgba(252, 172, 69, 1) 52%,
        rgba(252, 69, 69, 1) 84%
    );
}

@mixin card-animation {
    width: 5vw;
    height: 40vh;
    position: relative;
    opacity: 0.5;
    padding: $card-padding;
    background-color: white;
    border: 1px solid rgb(128, 128, 128) !important;
    transition: all 1s ease-in;
    box-sizing: content-box;
}

@mixin sidebar-slide {
    // transition: all 0.1s ease-in-out;
}
